<div class="row m0 scrollspyMenu">
  <ul class="nav">
    <li>
      <a href="#featured_posts"></a>
      <span class="tooltip_layer">Feature Posts</span>
    </li>
    <li>
      <a href="#all_posts"></a>
      <span class="tooltip_layer">All Posts</span>
    </li>
    <li>
      <a href="#popular_videos"></a>
      <span class="tooltip_layer">Popular Videos</span>
    </li>
    <li>
      <a href="#about_us"></a>
      <span class="tooltip_layer">About Us</span>
    </li>
    <li>
      <a href="#projects"></a>
      <span class="tooltip_layer">Projects</span>
    </li>
  </ul>

  <a href="#header" id="go_top">On Top<i class="fa fa-angle-double-right"></i></a>
</div>
