<div class="slideMenuClose"></div>

<header class="row header1" id="header">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <div class="logo_container fleft">
                        <div id="slideMenu_trigger">
                            <img src="assets/images/navigation/logo/bars.png" alt="">
                        </div>
                        <a class="navbar-brand" href="index.html" title="Age - Well Featured Magazine Template">Age</a>
                    </div>
                </div>

                <app-social></app-social>


                <div class="rightSide_nav pull-right">
                    <div class="fleft current_date"></div>
                    <div class="fright search_dot">
                        <ul class="nav navbar-nav">
                            <li><a href="search-form.html" id="search_form"><i class="fa fa-search"></i></a></li>
                            <li><a href="#" id="scrollSpyTrigger"><img src="assets/images/navigation/dot.png" alt=""></a></li>
                        </ul>
                    </div>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top_nav" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <app-menu-content></app-menu-content>
                </div>
            </div><!-- /.container-fluid -->
        </nav>
    </header>
