<div class="sliding_menu row m0">
    <div class="row m0 search_row">
        <form action="#" class="search_form fleft">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="search" class="form-control">
            </div>
        </form>
        <div class="fleft" id="menuHide"><img src="assets/images/navigation/logo/bars2.png" alt=""></div>
    </div>
    <div class="row m0 navByCat">
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">news</a>
                <ul class="dropdown-menu">
                    <li><a href="#">politics</a></li>
                    <li><a href="#">sports</a></li>
                    <li><a href="#">money</a></li>
                    <li><a href="#">world</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">politics</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Australia</a></li>
                    <li><a href="#">Canada</a></li>
                    <li><a href="#">France</a></li>
                    <li><a href="#">Germany</a></li>
                    <li><a href="#">Poland</a></li>
                    <li><a href="#">Ukraine</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">sports</a>
                <ul class="dropdown-menu">
                    <li><a href="#">NFL</a></li>
                    <li><a href="#">MLB</a></li>
                    <li><a href="#">NBA</a></li>
                    <li><a href="#">NHL</a></li>
                    <li><a href="#">NCAAF</a></li>
                    <li><a href="#">NCAAB</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">money</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Markets</a></li>
                    <li><a href="#">Business</a></li>
                    <li><a href="#">Personal Finance</a></li>
                    <li><a href="#">Cars</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">world</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Business Travel</a></li>
                    <li><a href="#">Experience Travel</a></li>
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">Flights</a></li>
                    <li><a href="#">Cruises</a></li>
                    <li><a href="#">Deals</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="row m0 just_posted">
        <h3 class="widgetTitle">just posted</h3>
        <ol>
            <li><a href="#">Sticky Post: Jeb Bush Calls For VA Overhaul</a></li>
            <li><a href="#">What Happened This Week? Take Our Weekly News Quiz</a></li>
            <li><a href="#">Woman finds 4 urns in recently purchased used car</a></li>
            <li><a href="#">Sticky Post: Jeb Bush Calls For VA Overhaul</a></li>
        </ol>
    </div>
    <div class="row m0 popular_posts">
        <h3 class="widgetTitle">popular posts</h3>
        <div class="row m0 post">
            <img src="assets/images/posts/popular/1.jpg" alt="" class="featured_img">
            <div class="post_contents">
                <h4 class="category politics"><a href="#">politics</a></h4>
                <h4 class="title"><a href="#">U.S. House Chamber Closed After Unknown Material</a></h4>
            </div>
        </div>
        <div class="row m0 post">
            <img src="assets/images/posts/popular/2.jpg" alt="" class="featured_img">
            <div class="post_contents">
                <h4 class="category sports"><a href="#">sports</a></h4>
                <h4 class="title"><a href="#">Philip Rivers: I’m going to be a Charger, wherever we are</a></h4>
            </div>
        </div>
        <div class="row m0 post">
            <img src="assets/images/posts/popular/3.jpg" alt="" class="featured_img">
            <div class="post_contents">
                <h4 class="category money"><a href="#">money</a></h4>
                <h4 class="title"><a href="#">U.S. Flag Raised Over Embassy in Republic of Cuba</a></h4>
            </div>
        </div>
    </div>

    <div class="row m0 categories">
        <h3 class="widgetTitle">categories</h3>
        <ul class="nav">
            <li><a href="#">politics <span>12</span></a></li>
            <li><a href="#">sports <span>46</span></a></li>
            <li><a href="#">money <span>15</span></a></li>
            <li><a href="#">world <span>24</span></a></li>
        </ul>
    </div>
    <div class="row m0 social_media_followers">
        <ul class="nav">
            <li>
                <div class="media google-plus">
                    <div class="media-left media-middle">
                        <i class="fa fa-google-plus"></i>
                    </div>
                    <div class="media-body">
                        <h4>1189k</h4>
                        <a href="#">Follow</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="media twitter">
                    <div class="media-left media-middle">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <div class="media-body">
                        <h4>1168k</h4>
                        <a href="#">Follow</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="media facebook">
                    <div class="media-left media-middle">
                        <i class="fa fa-facebook"></i>
                    </div>
                    <div class="media-body">
                        <h4>4210k</h4>
                        <a href="#">Follow</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="media youtube">
                    <div class="media-left media-middle">
                        <i class="fa fa-youtube-play"></i>
                    </div>
                    <div class="media-body">
                        <h4>2148k</h4>
                        <a href="#">Follow</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row m0 instafeed">
        <h3 class="widgetTitle">Instagram Feed</h3>
        <ul class="nav" id="instafeed"></ul>
    </div>
    <div class="row m0 popular_tags">
        <h3 class="widgetTitle">popular tags</h3>
        <a href="#" class="tag">Business</a>
        <a href="#" class="tag">Technology</a>
        <a href="#" class="tag">Photography</a>
        <a href="#" class="tag">Electronics</a>
        <a href="#" class="tag">Entertainment</a>
        <a href="#" class="tag">Fashion</a>
        <a href="#" class="tag">Education</a>
        <a href="#" class="tag">Places</a>
    </div>
</div>
