<div id="top_nav" class="collapse navbar-collapse fleft">
    <ul class="nav navbar-nav">
        <li *ngFor="let menu of menuList">
          <a href="{{menu.url}}">{{menu.name}}</a>
          <ul class="nav" *ngIf="menu.submenu.length > 0">
            <li *ngFor="let submenu of menu.submenu">
              <a href="{{submenu.url}}">{{submenu.name}}</a>
            </li>
          </ul>
        </li>

        <!-- revisar implementacion directive de generacion de submenu aninados (ver patron de diseño) -->

        <!-- <li><a href="index.html">Home</a></li>
        <li>
            <a href="#">All Pages</a>
            <ul class="nav">
                <li><a href="index2.html">Home 2</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="coming-soon.html">Coming Soon</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="font-awesome-cheatsheet.html">Font Awesome</a></li>
                <li><a href="header-styles.html">Header Styles</a></li>
                <li><a href="single-blog.html">Single Blog</a></li>
                <li><a href="404.html">404</a></li>
            </ul>
        </li>
        <li><a href="gallery.html">Gallery</a></li>
        <li><a href="author-post.html">Author</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="newsletter-signup.html" class="subscribe_popup">Subscribe</a></li> -->
    </ul>
</div>
